@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css");
@import url("./goosenest/RevertRebrand.theme.css");
@import url("https://snare-hawk.github.io/snare-CSS/revert-notifications.css");

/* fixes buttons to be the correct blurple */
button[class*="lookOutlined"][class*="colorBrand"] {
  border-color: var(--brand-experiment) !important;
}

button[class*="lookOutlined"][class*="colorBrand"]:hover,
[class*="addTags"] {
  background-color: var(--brand-experiment);
}

/* corrects any svg with the wrong blurple */
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"],
[class*="gameVerifiedIcon"] [class*="flowerStar"] path,
[class*="snowsgivingIcon"] path,
[class*="tutorialContainer"] [class*="wrapper"][class*="selected"] g rect {
  fill: var(--brand-experiment);
}

/* fixes some badges badge with the correct blurple */
[class*="sidebar"] [class*="textBadge"]:not([class^="liveShapeRound"]),
[class*="betaTagIcon"] {
  background-color: var(--brand-experiment);
}

/* fixes some emojis */
[src*="emojis/958824443445116960"],
[src*="emojis/890738617130037318"] {
  content: url("https://i.imgur.com/o3ZPHnJ.png");
}

[id*="invite"]:not(.focused-3qFvc8) [class*="label"] {
  color: var(--brand-experiment);
}

[id*="invite"]:not([class*="focused"]) [class*="iconContainer"] path {
  fill: var(--brand-experiment);
}

[class*="colorRed"] {
  border-color: var(--old-red);
  background-color: var(--old-red);
}
[class*="colorDanger"]:not([class*="focused"]) [class*="label"] {
  color: var(--old-red);
}

.lookOutlined[class*="colorRed"],
[class*="colorRed"] [class*="contents"] {
  color: var(--button-outline-danger-text) !important;
}

[class*="colorDanger"]:not(.focused-3qFvc8) path {
  fill: var(--old-red);
}

[class*="colorDanger"][class*="focused"] {
  background-color: var(--old-red);
}

[class*="premiumLabel_"]::before {
  content: "Discord Nitro";
  color: inherit;
  font-size: 16px;
}

[class*="premiumLabel_"] {
  font-size: 0px;
  color: inherit !important;
}
