@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css");
@import url("https://goose-nest.github.io/GT-RevertRebrand/RevertRebrand.theme.css");

/* fixes buttons to be the correct blurple */
button.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
  border-color: var(--brand-experiment) !important;
}

button.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover,
.addTags-26suzl {
  background-color: var(--brand-experiment);
}

/* corrects any svg with the wrong blurple */
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"],
.gameVerifiedIcon-1YMUdQ .flowerStar-2tNFCR path,
.snowsgivingIcon-3d0pr1 path,
.tutorialContainer-1pL9QS .wrapper-3kah-n.selected-1Drb7Z g rect {
  fill: var(--brand-experiment) !important;
}

/* fixes some badges badge with the correct blurple */
.newBadge-2r8BkJ,
.sidebar-nqHbhN .textBadge-1fdDPJ {
  background-color: var(--brand-experiment) !important;
}

/* fixes some emojis */
[src*="https://cdn.discordapp.com/emojis/958824443445116960"],
[src*="https://cdn.discordapp.com/emojis/890738617130037318"]
{
  content: url("https://i.imgur.com/o3ZPHnJ.png");
}

[id*="invite"]:not(.focused-3qFvc8) .label-2gNW3x {
  color: var(--brand-experiment);
}

[id*="invite"]:not(.focused-3qFvc8) .iconContainer-1-SsTR path {
  fill: var(--brand-experiment);
}

.colorRed-rQXKgM {
  border-color: var(--old-red);
  background-color: var(--old-red);
}
.colorDanger-3n-KnP:not(.focused-3qFvc8) .label-2gNW3x {
  color: var(--old-red);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: var(--button-outline-danger-text) !important;
}
.colorDanger-3n-KnP:not(.focused-3qFvc8) path {
  fill: var(--old-red);
}
.colorDanger-3n-KnP.focused-3qFvc8 {
  background-color: var(--old-red);
}

[class*="premiumLabel-"]::before {
  content: "Discord Nitro";
  color: inherit;
  font-size: 16px;
}

[class*="premiumLabel-"] {
  font-size: 0px;
  color: inherit !important;
}
