@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css");
@import url("https://goose-nest.github.io/GT-RevertRebrand/RevertRebrand.theme.css");

/* fixes buttons to be the correct blurple */
button.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
  border-color: var(--brand-experiment) !important;
}

button.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover,
.addTags-26suzl {
  background-color: var(--brand-experiment);
}

/* corrects any svg with the wrong blurple */
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"],
.gameVerifiedIcon-1YMUdQ .flowerStar-2tNFCR path,
.snowsgivingIcon-3d0pr1 path,
.tutorialContainer-1pL9QS .wrapper-3kah-n.selected-1Drb7Z g rect {
  fill: var(--brand-experiment) !important;
}

/* fixes some badges badge with the correct blurple */
.newBadge-2r8BkJ,
.sidebar-nqHbhN .textBadge-1fdDPJ,
.betaTagIcon-BX5YL2 {
  background-color: var(--brand-experiment) !important;
}

/* fixes some emojis */
[src*="https://cdn.discordapp.com/emojis/958824443445116960"],
[src*="https://cdn.discordapp.com/emojis/890738617130037318"]
{
  content: url("https://i.imgur.com/o3ZPHnJ.png");
}

[id*="invite"]:not(.focused-3qFvc8) .label-2gNW3x {
  color: var(--brand-experiment);
}

[id*="invite"]:not(.focused-3qFvc8) .iconContainer-1-SsTR path {
  fill: var(--brand-experiment);
}

.colorRed-rQXKgM {
  border-color: var(--old-red);
  background-color: var(--old-red);
}
.colorDanger-3n-KnP:not(.focused-3qFvc8) .label-2gNW3x {
  color: var(--old-red);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM,
.colorRed-rQXKgM .contents-3ca1mk {
  color: var(--button-outline-danger-text) !important;
}
.colorDanger-3n-KnP:not(.focused-3qFvc8) path {
  fill: var(--old-red);
}
.colorDanger-3n-KnP.focused-3qFvc8 {
  background-color: var(--old-red);
}

[class*="premiumLabel-"]::before {
  content: "Discord Nitro";
  color: inherit;
  font-size: 16px;
}

[class*="premiumLabel-"] {
  font-size: 0px;
  color: inherit !important;
}

/* reverts unread message and mention indicators */
.bar-wDIGjg {
  width: 208px;
  background-color: var(--background-accent);
}

.barText-1eIsLx {
  color: var(--status-positive-text) !important;
}

.bar-wDIGjg div:not(.mentionsBar-DpLHCy) {
  text-transform: uppercase;
  margin: auto;
}

.bar-wDIGjg.mentionsBar-DpLHCy .barText-1eIsLx {
  content: " " !important;
  font-size: 0px;
  padding: 0px;
}
.bar-wDIGjg.mentionsBar-DpLHCy .barText-1eIsLx::after {
  content: "New Mentions";
  font-size: 12px !important;
}

.bar-wDIGjg.mentionsBar-DpLHCy {
  background: var(--status-danger) !important;
  height: 16px !important;
}

.bar-wDIGjg svg {
  display: none;
}
